[Unit]
Description=Udiskie


[Service]
Type=simple
User=apollo
Restart=always
RestartSec=3
ExecStart=/usr/bin/udiskie -aNTF


[Install]
WantedBy=multi-user.target
